//colors palette
$bg: #1f1215;
$simpleText: #5F5C5C;
$darkRed: #55111c;
$highlighted: #91171F;
$hover-highlighted-text: #BA1F33;

@font-face {
    font-family: futurist;
    src: url("../fonts/Kerox-NonCommercial.otf") format("opentype");
}

//General
body{
    font-family: futurist,Verdana, Geneva, Tahoma, sans-serif;
    color:$simpleText;
    background-color: $bg;
    padding: 0%;
    margin: 0%;
}

a{
    text-decoration: none;
    color: $highlighted;
    transition: 0.5s;
    &:hover{
        text-decoration: none;
        color: $hover-highlighted-text;
    }
}

//navegation bar
.logo{
    font-weight: bold;
    color: $darkRed;
    &:hover{
        color: $highlighted;
    }
}

nav{
    background-color: #1b1b1b;
    width: 100%;
    position: fixed;
}

nav ul{
    text-align: right;
    padding-top: 1.5%;
}

nav ul li{
    display: inline;
}

nav ul li a{
    padding: 1%;
    text-decoration: none;
    border-left: solid transparent;
    border-right: solid transparent;
    color: $highlighted;
    transition: 0.5s;
    &:hover{
        text-decoration: none;
        color: $hover-highlighted-text;
        border-radius: 50%;
        border-left: solid $hover-highlighted-text;
    }
}

.menu-selected{
    text-decoration: none;
    color: $hover-highlighted-text;
    border-radius: 50%;
    border-left: solid $hover-highlighted-text;
    border-right: solid $hover-highlighted-text;
}

//image main page
.main-parallax{
    background-image: url("../Images/bg_main_page_developer_enviorment.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30%;
    padding-left: 30%;
    padding-top: 25%;
}

.main-title{
    backdrop-filter: blur(15px);
    border-radius: 15%;
    text-align: center;
}
